<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>~Spend~EZ~</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  
  <!--Icon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('main.reload')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mt-3"><h2>Spend EZ</h2></div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-1">


      <!-- Heading -->
      <div class="sidebar-heading">
       <h5> Choose Date </h5>
      </div>
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Pages Collapse Menu -->
      <form action="" method="POST">
          {{time_travel.hidden_tag()}}
        <div>
          {{ time_travel.years(class="form-group sidebar-brand-text mx-3 action") }} 
          {{ time_travel.months(class="form-group sidebar-brand-text mx-3 action") }} 
          {{ time_travel.submit(class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow mx-3") }}
        </form>
              </li>
              <div class="sidebar-heading">
                  <a href="{{ url_for('main.reload')}}">
                  <div class = "mb-2 mt-4"><small style="color:white">Click Here for Today</small></a>
                  </div>
              <hr class="sidebar-divider">
              <div class="sidebar-heading mr">
                  <h5> Submit Expense </h5>
                 </div>
                 <!-- Divider -->
                 <hr class="sidebar-divider">
              <form method= "POST" action="">
                  {{ transaction_submit.hidden_tag() }}
                      <div class="form-group">
                          {% if transaction_submit.amount.errors %}
                              {{ transaction_submit.amount(class="form-control form-control-sm is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in transaction_submit.amount.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ transaction_submit.amount(class="form-control form-control-sm mt-3", placeholder="$00.00") }}
                          {% endif %}
                      <p>
                        </p>
                          {{ transaction_submit.category(class = "form-control form-control-sm mt-3") }}
                           {{ transaction_submit.date_posted(type="date", class = "form-control form-control-sm mt-3") }}
                    </div>
                    {{ transaction_submit.note(class="form-control form-control-sm", placeholder="Notes (Optional)", rows="3") }}
                  <p></p>
                     {{ transaction_submit.submit(class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow") }}
                </form>
              </div>
              <hr class="sidebar-divider my-1 mt-3">
              <div class="navigation">
            <li class="nav-item active mt-4">
                <a class="button d-none d-sm-inline-block btn btn-sm btn-secondary shadow ml-2" href="{{ url_for('main.logout')}}">
                    <div class="logout">LOGOUT</div>
                  </a>
                </div>
              </li>
            </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-2">
           <h1 class="h3 mt-3 text-gray-800"><strong>{{ month }} {{ year }}</strong></h1>
          </div>
          {% block content %}{% endblock %}
          <!-- Content Row -->
          <div class="row">
              <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Budget</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ budget }}</div>
                    </div>
                    <form method="POST" action="">
                        {{ update_budget.hidden_tag() }}
                        {{ update_budget.new_budget(class ="form-control form-control-sm", placeholder = "Update Budget Here") }}
                        {{ update_budget.submit(class="btn btn-success btn-sm mb-2 mt-1") }}
                        </form>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-2 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Spent This Month</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ total_spend }}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Budget Spent %
                        </div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ budget_percent }}%</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ year }} Totals</div>
                      <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Spend: ${{ ytd_spend }}</div>
                      <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">#1 Category: [{{ max_cat[0] }}] ${{ max_cat[1] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Row -->
              <!-- FORM -->
              <div class="col-sm-4 sm-2">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class='alert alert-{{category}}'>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
              </div>
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-7">
              <div class="card shadow mb-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Monthly Spending</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
                            <div><canvas id="chart" class="chart-area"></canvas></div>
                            <script>
                              // bar chart data
                              var barData = {
                                labels : [
                                  {% for item in labels %}
                                   "{{ item }}",
                                  {% endfor %}
                            ],
                                datasets : [{
                                  fillColor: "rgba(151,187,205,0.2)",
                                  strokeColor: "rgba(151,187,205,1)",
                                  pointColor: "rgba(151,187,205,1)",
                                  data : [
                                    {% for item in values %}
                                       "{{ item }}",
                                      {% endfor %}
                                ]
                                  }
                                ]
                              }
                             // get bar chart canvas
                             var mychart = document.getElementById("chart").getContext("2d");
                               steps = 10
                               max = {{max}}
                             // draw bar chart
                             new Chart(mychart).Bar(barData, {
                               scaleOverride: true,
                               scaleSteps: steps,
                               scaleStepWidth: Math.ceil(max / steps),
                               scaleStartValue: 0,
                               scaleShowVerticalLines: true,
                               scaleShowGridLines : true,
                               barShowStroke : true,
                               scaleShowLabels: true
                               }
                             );
                            </script>
                      </div>
                  </div>
                </div>
              </div>

            <div class="col-xl-4 col-lg-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Transaction History</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body card-text">
                    {% for t in trans %}
                    <article class="media content-section">
                        <div class="media-body">
                        <div class="article-metadata ">
                            <small class="text-muted">{{ t.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <h2><a><strong>${{ t.amount }}</strong></a></h2>
                        <p>{{ t.note }}</p>
                       <p><strong>[ {{ t.cat }} ]</strong></p>
                        </div>
                        <div>
                            <form action="{{ url_for('main.delete_transaction', trans_id=t.id, month_num=month_num, year=year) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                              </form>
                          </div>
                    </article>
                    <hr class="divider my-1">  
            {% endfor %}
                    <span class="mr-2">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Content Row -->
        
          <div class="row">
            <!-- Content Column -->

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</html>
